<h1><%= @sub.title %></h1>
<h3><%=@sub.description%></h3>
<% if @sub.moderator_id == current_user.id %>
<form class="" action="<%=sub_url @sub%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete!!!</button>
</form>
<form class="" action="<%= edit_sub_url(@sub) %>" method="get">
  <button>Edit</button>
</form>
<% end %>
<ul>
<% @posts.each do |post| %>
<li><a href="<%= post_url post %>"><strong><strong><%= post.title %></strong></a><br>
  <%= post.content %><br>
  posted by: <%= post.author.username %><br>

  <% if current_user.id == post.author.id %>
    <a href="<%= edit_post_url(id: post.id) %>">edit</a>
  <% end %>

</li>
<% end %>
</ul>

<form
  class=""
  action="<%= new_sub_post_url(@sub) %>"
  method="get">

  <button>New post</button>

</form>
