<% action_url = "#{posts_url}" if params[:action] == "new" %>
<% action_url = "#{post_url(id: params[:id])}" if params[:action] == "edit" %>

<form
  class=""
  action="<%= action_url %>"
  method="post">

  <% if params[:action] == "edit"%>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <label for="sub_title">Title</label>

  <textarea
    name="post[title]"
    rows="8"
    cols="40"
    id="post_title"><%=post.title%></textarea>
  <label for="post_content">Content</label>
  <textarea
    name="post[content]"
    rows="8"
    cols="40"
    id="post_content">
      <%= post.content %>
  </textarea>

  <button>Submit</button><br>
  <% subs.each do |sub| %>
  <input type="checkbox" name="post[sub_ids][]" value="<%=sub.id%>"><%=sub.title%><br>
  <% end %>


  <input
    type="hidden"
    name="post[author_id]"
    value="<%= current_user.id %>">

</form>
