<h1><%= @post.title %></h1>

<p>
  <%= @post.content %>
</p>

<p>
  Written by: <%= @post.author.username %>
</p>
<p>This post belongs to the following subs:</p>
<%@post.subs.each do |sub| %>
<a href="<%= sub_url sub %>"><strong><%= sub.title %></strong></a><br>
<% end %>
