<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless flash[:errors].nil? %>
  <ul>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<hr />
<% end %>


<% if logged_in? %>

<form
  class=""
  action="<%= session_url %>"
  method="post">
  <input
    type="hidden"
    name="_method"
    value="delete">
  <input
    type="submit"
    name="log_out"
    value="Log out">
</form>

<% else %>

<form
  class=""
  action="<%= new_user_url %>"
  method="get">

  <button>Sign up</button>

</form>

<% end %>

<%= yield %>

</body>
</html>
